{% extends "_base.html"%}
{% block title %}Change Password{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <main class="form-signin w-100 m-auto">
        <form role="form" method="post" action="">
          {{ form.csrf_token }}
          <h1 class="h3 mb-3 fw-normal text-center">Change your password</h1>
  
          <div class="form-floating">
            {{ form.current_password(placeholder="current password", class="form-control mb-2") }}
            {{ form.current_password.label }}
              {% if form.current_password.errors %}
                {% for error in form.current_password.errors %}
                <div class="alert alert-danger" role="alert">
                  {{ error }}
                </div>
                {% endfor %}
              {% endif %}
          </div>
          <div class="form-floating">
            {{ form.new_password(placeholder="new password", class="form-control mb-2") }}
            {{ form.new_password.label }}
              {% if form.new_password.errors %}
                {% for error in form.new_password.errors %}
                  <div class="alert alert-danger" role="alert">
                    {{ error }}
                  </div>
                {% endfor %}
              {% endif %}
          </div>

          <div class="form-floating">
            {{ form.confirm(placeholder="confirm new password", class="form-control mb-2") }}
            {{ form.confirm.label }}
              {% if form.confirm.errors %}
                {% for error in form.confirm.errors %}
                  <div class="alert alert-danger" role="alert">
                    {{ error }}
                  </div>
                {% endfor %}
              {% endif %}
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Change Password</button>
          
        </form>
      </main>
    </div>
    <div class="col-md-4"></div>
  </div>

{% endblock %}